<launch>
	<!--
	//TODO:
	- 
	//DONE:
	- put humantracking, filtering and extracting main feature
	- then use it to move the robot
	-->
	<group if="1">
	<param name="/youbotPID/linear_x/p" value="1" type="double" />
	<param name="/youbotPID/linear_x/i" value="0" type="double" />
	<param name="/youbotPID/linear_x/d" value="0" type="double" />
	<param name="/youbotPID/linear_x/i_clamp" value="0.7" type="double" />
	<param name="/youbotPID/linear_x/speed" value="0.1" type="double" />
	</group>

	<group if="0">
	<param name="/youbotPID/linear_y/p" value="0.35" type="double" />
	<param name="/youbotPID/linear_y/i" value="0.02" type="double" />
	<param name="/youbotPID/linear_y/d" value="0.018" type="double" />
	<param name="/youbotPID/linear_y/i_clamp" value="0.7" type="double" />
	<param name="/youbotPID/linear_y/speed" value="0.8" type="double" />
	</group>

	<group if="0">
	<param name="/youbotPID/angular_z/p" value="0.40" type="double" />
	<param name="/youbotPID/angular_z/i" value="0.2" type="double" />
	<param name="/youbotPID/angular_z/d" value="0.05" type="double" />
	<param name="/youbotPID/angular_z/i_clamp" value="0.7" type="double" />
	<param name="/youbotPID/angular_z/speed" value="1" type="double" />
	</group>
	
	<!--
	//TODO:
	- there should be a delay before running the main program
	<node name="openni_tracker" pkg="openni_tracker" type="openni_tracker" output="screen" />
	-->
	<node name="humantracking" pkg="youbot_stalker" type="humantracking" />
	<node name="makeitmove" pkg="youbot_stalker" type="makeitmove" output="screen" />
</launch>
