<launch>
	<group if="1">
	<param name="/youbotPID/linear_y/p" value="0.35" type="double" />
	<param name="/youbotPID/linear_y/i" value="0.02" type="double" />
	<param name="/youbotPID/linear_y/d" value="0.018" type="double" />
	<param name="/youbotPID/linear_y/i_clamp" value="0.7" type="double" />
	<param name="/youbotPID/linear_y/speed" value="0.8" type="double" />
	</group>

	<group if="1">
	<param name="/youbotPID/angular_z/p" value="0.40" type="double" />
	<param name="/youbotPID/angular_z/i" value="0.2" type="double" />
	<param name="/youbotPID/angular_z/d" value="0.05" type="double" />
	<param name="/youbotPID/angular_z/i_clamp" value="0.7" type="double" />
	<param name="/youbotPID/angular_z/speed" value="1" type="double" />
	</group>

	<node name="colorblobtracking" pkg="youbot_object_tracking" type="colorblobtracking" />
	<node name="makeitmove" pkg="youbot_object_tracking" type="makeitmove" output="screen" />
</launch>
